.inter-pong {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "slnt" 0;
  }

.banner {
	position:absolute;
	z-index: 2;
	font-size: 2rem;
	/* letter-spacing: 1px; */
	color:white;
	margin-left:0.5rem;
	margin-top:2rem;
	
}

.icon {
	font-size: 2rem;
	margin-right:0.5rem;
	vertical-align:text-bottom;
}

.underline {
	text-decoration:underline;
}

.start {
	position:absolute;
	background-color:#00CED1;
	text-align:right;
	bottom:-1.2rem;
	right:0;
	z-index: 2;
	border:0;
	border-radius:0.2rem;
	color:white;
}

.start:focus, .start:hover {
	outline:none;
	background-color:#AFEEEE;
	cursor: pointer;
}

.menu {

}

@media (min-width:577px) {
	.banner {
		margin-top:3rem;
		margin-left:2rem;
		font-size: 3rem;
	}
	.icon {
		font-size: 3rem;
	}
	.start {
		bottom:-2rem;
		font-size: 1rem;
		padding:0.5rem;
	}
}

@media (min-width:769px) {
	.banner {
		margin-top:4rem;
		margin-left:3rem;
		font-size: 4rem;
	}
	.icon {
		font-size: 4rem;
	}
	.start {
		bottom:-2.5rem;
		font-size: 1.2rem;
	}
}