body {
	margin:0;
}

i {
	padding:0 0.5rem;
}

p {
	margin:0;
}


button:hover, button:focus {
	outline:none;
	cursor:pointer;
}

.inter-pong, button {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "slnt" 0;
  }

.banner {
	position:absolute;
	z-index: 2;
	font-size: 2rem;
	/* letter-spacing: 1px; */
	color:white;
	margin-left:0.5rem;
	margin-top:2rem;
	
}

.icon {
	font-size: 2rem;
	margin-right:0.5rem;
	vertical-align:text-bottom;
}

.underline {
	text-decoration:underline;
}

.toggle-canvas, .toggle-chat {
	padding: 5px 6px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
  }

.toggle-canvas .icon-bar, .toggle-chat .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	border-radius: 1px;
	background-color:white;
  }
.toggle-canvas .icon-bar + .icon-bar, .toggle-chat .icon-bar + .icon-bar{
	margin-top: 4px;
  }

.menu-canvas {
	font-size: 0.75rem;
	margin-top:0.5rem;
	position:absolute;
	color:rgb(177,177,177);
	background-color:rgb(49,49,49);
	right:0;
	border-radius:0.25rem;
	padding:0.5rem;
}

.menu-chat {
	font-size: 0.75rem;
	margin-top:0.5rem;
	position:absolute;
	color:rgb(177,177,177);
	background-color:rgb(49,49,49);
	left:0;
	border-radius:0.25rem;
	padding:0.5rem;
	width:80%;
	border:1px solid rgb(177,177,177);
}

hr {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: 0;
	border-top: 1px solid rgb(177,177,177);
}

.menu-canvas button, .menu-chat button{
	border:0;
	background-color:transparent;
	align-items:baseline;
	color:rgb(177,177,177);
	padding:1px 1px;
}

.menu-canvas .nav, .menu-chat .nav{
	width:100%;
	font-size: 0.75rem;
	margin:0.25rem 0;
	display:flex;
}

.menu-canvas button:hover, .menu-canvas button:focus, .menu-chat button:hover, .menu-chat button:focus  {
	color:white;
}

.menu-canvas .nav i:nth-child(2), .menu-chat .nav i:nth-child(2){
	margin-left: auto;
}

.profile h4 {
	padding:1px 6px;
	margin:0;
}

.display-none {
	display:none !important;
}

.display-block {
	display:block !important;
}

.nav-chat, .nav-canvas {
	color:rgb(2,238,139) !important;
}

.chat-container {
	width:100%;
	background-color:rgb(49,49,49);
	color:rgb(177,177,177);
	display:none;
	padding:2rem;
}
.chat-icon {
	display:flex;
	height:100%;
	align-items:center;
	justify-content: center;
}

.chat-nav-container {
	position:relative;
}

.local-menu {
	font-weight:normal;
}

.local-menu form {
	background-color:rgb(49,44,44);
	border-radius:0.25rem;
	padding:0.25rem;
}

.local-menu form div {
	margin:0.25rem 0;
}

.single-alias {
	background-color:rgb(28,28,28);
	border-radius:0.25rem;
	padding:0.25rem;
}
.single-alias-display {
	display:grid;
	grid-template-columns: auto auto;
}


@media (min-width:577px) {
	.banner {
		margin-top:3rem;
		margin-left:2rem;
	}
	.icon {
		font-size: 3rem;
	}
	.toggle-canvas, .toggle-chat {
		padding: 9px 10px;
	}
	.toggle-canvas .icon-bar, .toggle-chat .icon-bar{
		width:22px;
	}
	
	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

@media (min-width:769px) {
	.banner {
		margin-top:4rem;
		margin-left:3rem;
		font-size: 4rem;
	}
	.icon {
		font-size: 4rem;
	}
	.chat-divider {
		display:block;

	}
	.chat-container {
		width:500px;
		display:block;
	}

	.menu-canvas, .menu-chat {
		padding:1rem;
		font-size: 1rem;
	}

	.menu-canvas .nav, .menu-chat .nav{
		margin:0.5rem 0;
		font-size: 1rem;
	}
	.main-container {
		display:grid;
		grid-template-columns: auto auto;
		grid-gap:0;
		justify-content:center;
	}
	.chat-menu, .canvas-menu, .menu-chat {
		display:none;
	}
	.toggle-chat {
		display:none;
	}
	.menu-back, .menu-home {
		font-size: 1.5rem;
		margin: 1px 3px;
	}
	.local-menu form div {
		margin:0.5rem 0;
	}
	.single-alias {
		padding:0.5rem;
	}
	
}